/.venv
/.venv-musicgen
/*.sf2
/generated_audio
/generated_audio_optimized
/*.wav
/*.pth
/*.csv
/so-vits-svc
/so-vits-svc

/static/songs
/src/old_app.py


/.env
/.env
/*.env

/src/
/newindexhtml/
/game.html
/game.py

/__pycache__
/resembletest.py
/feedback
/*.log
/DiffSinger
